/* For best practice, move CSS below to an external CSS file. */
@keyframes fadeinall {
  0% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  98% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

html {
  font-size: 15px;
}
#fadein {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: #fff;
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 2s normal both;
  animation: fadeinall 2s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

body {
  text-align: center;
}

header {
  font-size: 200%;
}

footer {
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}
.container {
  padding: 2px 16px;
}

.index-table {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
